.card {
  transition: 400ms;
  border-radius: 15px;
  background: var(--white_card);
  color: var(--black_letters);
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 3rem;
}

.profile {
  padding: 1rem;
  text-align: center;
}

.profile img {
  width: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.citacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 15px;
  padding: 1rem;
  border-left: 1px solid #ccc;
  text-align: center;
}

.quote {
  font-size: 8px;
}

.house {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.house img {
  margin-left: 10px;
  width: auto;
}

@media (orientation: portrait) {
  .card {
    flex-direction: column;
    margin: .5rem 1rem;
    border: none;

  }

  .citacoes {
    border: none;
    line-height: 15px;
  }
}

@media (max-width:245px) {
  .card {
    margin: 0;
  }
}

@media (max-height: 197px) {}